@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --background: #11111b;
  --background2: #1e1e2e;
  --background3: #313244;
  --background4: #585b70;
  --main-color: #cdd6f4;
  --shadow: rgba(108, 112, 134, 0.5);
  --blue: #89b4fa;
  --aqua: #a6e3a1;
  --orange: #fab387;
  --background-light: #928374;
}

body {
  font-family: 'Montserrat';
  font-weight: 300;
  background: var(--background);
  background-size: cover;
  background-attachment: fixed;
  color: var(--main-color);
  line-height: 1.2;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin: 20px 200px;
}

h1 {
  color: var(--orange);
  font-size: 120px;
  line-height: 1;
}

h2 {
  color: var(--aqua);
  font-size: 48px;
  margin: 0px;
  margin-bottom: 20px;
}

h3 {
  font-size: 25px;
  font-weight: 600;
  margin: 0px;
}

h4 {
  font-weight: 300;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

h5 {
  font-weight: 600;
  font-size: 16px;
  margin: 10px 0px;
  padding: 0;
  line-height: 2;
}

h6 {
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0px;
}

p {
  font-size: 10px;
}

.clock {
  font-size: 20px;
  margin-left: 20px;
  text-align: center;
}

.box {
  border-radius: 20px;
  background: var(--background2);
  padding: 30px;
  margin: 20px 0px;
}

.account-logo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}


.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.projects {
  display: flex;
  gap: 20px;
}

.project-card {
  text-align: left;
  color: var(--main-color);
  background: var(--background3);
  width: 100%;
  transition: 200ms;
  border-radius: 23px;
  padding: 15px;
}

.project-card:hover {
  transform: scale(0.98);
}

.project-image {
  width: 100%;
  border-radius: 15px;
}

.social-icons .fa-brands {
  font-size: 1.8em;
}

.social-icons .fa-brands {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa-brands {
  border-radius: 50%;
}

.social-icons.icon-rounded .fa-brands {
  border-radius: 5px;
}

.social-icons.icon-rotate .fa-brands:hover,
.social-icons.icon-rotate .fa:active {
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}


.social-icons .fa-discord {
  background-color: #404eed;
}

.social-icons .fa-youtube {
  background-color: #ff0000;
}

.social-icons .fa-twitter {
  background-color: #1da1f3;
}

.social-icons .fa-github {
  background-color: #333;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 10px;
}

select {
  background: var(--background3);
  font-family: 'Montserrat' !important;
  color: var(--main-color);
  border-radius: 5px;
  padding: 5px;
  outline: none;
  border: none;
  transition: 300ms;
}

label {
  font-family: 'Montserrat';
}

select:active {
  transform: scale(1.05);
}

option {
  font-family: 'Montserrat';
  color: var(--main-color);
  padding: 5px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}

.skill {
  width: calc(25% - 22.5px);
}

.skill-title {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 5px 0px;
}

.skill-bar {
  height: 20px;
  background-color: var(--background);
  border-radius: 10px;
  position: relative;
}

.skill-bar-filled {
  height: 100%;
  background-color: var(--blue);
  border-radius: inherit;
}

@media screen and (max-width: 1000px) {
  .content {
    margin: 20px 70px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .skill {
    width: calc(50% - 40px);
  }

  h1 {
    font-size: 40px;
  }

  .account-logo {
    width: 100px;
    height: 100px;
    margin: 50px 0px;
  }

  .projects {
    justify-content: center;
  }

  .projects {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .skill {
    width: calc(100% - 40px);
  }
}